@model StaticFiles.Models.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="/home/Create" method="post">
        <label for="@Model.ID">Name</label>
        <input type="text" name="ID" />
        <input type="submit" name="submit"/>
    </form>
</body>
</html>
